* {
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

div#slides_wrapper {
  width: 500px;
  display: flex;
  border: 10px solid #efefef;
  justify-content: space-between;
  margin-bottom: 10px;
}

div#slides_wrapper div#slides {
  width: 500px;
  height: 400px;
  overflow: hidden;
  display: flex;
  background-color: #0ff3;
}

img.slide {
  width: 500px;
}

img.thumbnail {
  width: 60px;
  height: 40px;
}

div.slide_arrow {
  font-size: 20px;
  background-color: #0f0f0f;
  color: #f0f0f0;
  height: 40px;
  width: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
  align-self: center;
}

div.slide_arrow:hover {
  cursor: pointer;
}

div.slide_arrow#slide_left {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.slide_arrow#slide_right {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

div#thumbnails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div#thumbnails img.thumbnail {
  background-color: #888;
  margin: 5px;
}

div#thumbnails img.thumbnail:hover {
  cursor: pointer;
}

div#thumbnails img.thumbnail.active:hover {
  border: 2px solid #0ff;
  

}