
.contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b3b1b1;
    border-radius: 5px;
    font-size: 16px;
}

#submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: #052f5a;
}
